// 字体
@font-family: var(--el-font-family);
@font-size: var(--el-font-size-base);

// 主题
@color-primary: var(--el-color-primary);
@color-primary-hover: var(--el-color-primary-light-3);
@color-primary-border: var(--el-color-primary-light-5);
@color-primary-active: var(--el-color-primary-dark-2);
@color-primary-rgb: var(--el-color-primary-rgb);

// 成功
@color-success: var(--el-color-success);
@color-success-hover: var(--el-color-success-light-3);
@color-success-border: var(--el-color-success-light-5);
@color-success-active: var(--el-color-success-dark-2);
@color-success-rgb: var(--el-color-success-rgb);

// 警告
@color-warning: var(--el-color-warning);
@color-warning-hover: var(--el-color-warning-light-3);
@color-warning-border: var(--el-color-warning-light-5);
@color-warning-active: var(--el-color-warning-dark-2);
@color-warning-rgb: var(--el-color-warning-rgb);

// 信息
@color-info: var(--el-color-info);
@color-info-hover: var(--el-color-info-light-3);
@color-info-border: var(--el-color-info-light-5);
@color-info-active: var(--el-color-info-dark-2);
@color-info-rgb: var(--el-color-info-rgb);

// 危险
@color-danger: var(--el-color-danger);
@color-danger-hover: var(--el-color-danger-light-3);
@color-danger-border: var(--el-color-danger-light-5);
@color-danger-active: var(--el-color-danger-dark-2);
@color-danger-rgb: var(--el-color-danger-rgb);

// 字体色
@color-text: var(--el-text-color-primary);
@color-text-regular: var(--el-text-color-regular);
@color-text-secondary: var(--el-text-color-secondary);
@color-text-placeholder: var(--el-text-color-placeholder);
@color-text-disabled: var(--el-text-color-disabled);

// 背景色
@color-bg: var(--el-bg-color-overlay);
@color-bg-page: var(--el-bg-color-page);
@color-bg-overlay: var(--el-bg-color-overlay);

// 边框色
@color-border: var(--el-border-color);

// 圆角
@border-radius: var(--el-border-radius-base);

// 阴影
@box-shadow: var(--el-box-shadow);
