// 自定义vxe-table样式
html[theme-mode] {
  --vxe-ui-font-family: @font-family; //字体
  --vxe-ui-font-color: @color-text; //字体颜色
  --vxe-ui-font-size-default: @font-size; //字体大小
  --vxe-ui-table-border-radius: 8px; //边框圆角
  --vxe-ui-table-cell-padding-default: 0px 8px; //单元格内边距
  --vxe-ui-table-row-height-default: 45px; //行高
  --vxe-ui-font-primary-color: @color-primary; //主颜色
  --vxe-ui-table-border-color: @color-border; //边框颜色
  --vxe-loading-background-color: transparent; //加载背景颜色
  --vxe-ui-layout-background-color: transparent; //布局背景颜色
  --vxe-ui-table-resizable-line-color: @color-border; //可调整列线颜色
  --vxe-ui-table-resizable-drag-line-color: @color-primary; //可调整列拖动线颜色
  --vxe-ui-table-header-background-color: var(--el-fill-color-blank); //表头背景颜色
  --vxe-ui-table-row-hover-background-color: var(--el-fill-color-light); //行悬停背景颜色
  --vxe-ui-table-row-striped-background-color: var(--el-fill-color-lighter); //行斑马背景颜色
  --vxe-ui-table-row-hover-striped-background-color: var(--el-fill-color-light); //行斑马悬停背景颜色
  --vxe-ui-table-row-current-background-color: var(--el-color-primary-light-9); //当前行背景颜色
  --vxe-ui-table-row-hover-current-background-color: var(--el-fill-color-light); //当前行悬停背景颜色
}
